.set_blok{
    cursor: pointer;
    width: 90%;
    position: relative;
    min-height: 30px;
    border-radius: 0px 37px 7px 17px;
    border: 1px solid #cdcdcd;
    margin: 30px auto;
    background: #ededed;
    border-bottom: 2px solid #2b2b2b;
    border-left: 1px solid #2b2b2b;
}

.set_blok_lang{
    cursor: pointer;
    width: 90%;
    min-height: 30px;
    border-radius: 7px;
    border: 0px solid #cdcdcd;
    margin: 7px auto;
}

.set_blok:hover{
    cursor: pointer;
    box-shadow: 0px 0px 2px #c2c2c2;
}

.set_blok_lang:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px #c2c2c200;
}

.setting{
    cursor: pointer;
    position: absolute;
    right: 249px;
    top: -1px;
    height: 40px;
    width: 50px;
    color: #000000;
    padding: 6px 14px;
    background: #4d6884;
    border: 1px solid #3f566d;
    border-radius: 9px 0px 0px 29px;
    box-shadow: -2px 0px 2px #697583;
    text-shadow: 0px 0px 10px #ff2727;
    z-index: 5;
    transition: 1s;
}
.setting_close{
    cursor: pointer;
    position: absolute;
    right: -1px;
    top: -1px;
    height: 40px;
    width: 50px;
    color: #111111;
    padding: 6px 14px;
    background: #4d6884;
    border: 1px solid #3f566d;
    border-radius: 9px 0px 0px 29px;
    box-shadow: -2px 0px 2px #697583;
    text-shadow: 0px 0px 10px #0bff00;
    z-index: 5;
    transition: 1s;
}

.setting i{
    font-size:24px;
}
.setting_close i{
    font-size:24px;
}

.lang_en{
    position: relative;
    width: 48%;
    height: 20px;
    border: 1px solid #6f6f6f;
    border-radius: 5px 19px;
    background: #ededed;
    float: right;
    margin: 1%;
    overflow: hidden;
    transition: 1s;
}

.lang_en > img{
    height: 100%;
    margin: 0px;
    float: left;
    border-radius: 2px 12px;
}

.lang_en > p {
    font-size: 12px;
    font-weight: bold;
    margin: 1px auto;
    text-align: center;
}

.lang_ua{
    position: relative;
    width: 48%;
    height: 20px;
    border: 1px solid #6f6f6f;
    border-radius: 19px 5px;
    background: #ededed;
    float: right;
    margin: 1%;
    overflow: hidden;
    transition: 1s;
}

.lang_ua > img{
    height: 100%;
    margin: 0px;
    float: right;
    border-radius: 12px 2px; 
}

.lang_ua > p {
    font-size: 12px;
    font-weight: bold;
    margin: 1px auto;
    text-align: center;
}


.set_blok p{
    position: absolute;
    top: -21px;
    left: -1px;
    min-width: 100px;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    border-radius: 9px 17px 0px 0px;
    margin: 0px;
    padding: 2px 10px;
    background: #b33535;
    border: 1px solid #2b2b2b;
    text-shadow: 0px 0px 1px #111111;
}



@media screen and (max-width:768px){
    .set_blok_lang{
        cursor: pointer;
        width: 200px;
        min-height: 30px;
        border-radius: 7px;
        border: 0px solid #cdcdcd;
        margin: -1px auto 37px auto;
    }
   
    .set_blok_lang:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px #c2c2c200;
    }

    .setting{
        cursor: pointer;
        width: 35px;
        height: 35px;
        border-radius: 7px;
        margin: 2.5px;
        left: 0%;
        right: 100%;
        transition: 1s;
    }
    
    .setting_close{
        cursor: pointer;
        width: 35px;
        height: 35px;
        border-radius: 7px;
        margin: 2.5px;
        left: 101%;
        right: 0%;
        transform: translateX(-45px);
        transition: 1s;
    }

    .setting i{
        font-size:24px;
        margin: -2px 0px 0px -10px;
    }

    .setting_close i{
        font-size:24px;
        margin: -2px 0px 0px -10px;
    }
}