@import url("css-info.css");
@import url("setting.css");

/* my varriables */
:root{
    --bg-color:#F1F1F1;
    --bg-color-content:#ffffff;
    --border-color-content:1px solid #ffffff;
    --border-color-content-hover:1px solid #8bc3e9;
    --box-shadow-content:0px 0px 5px #6eb4ff;
    --border-radius-main:9px;
}

*{
    box-sizing: border-box;
}

body{
    padding: 10px 0px 0px 0px;
    margin: 0px;
    min-width: 300px;
    background: var(--bg-color);
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Marck Script', cursive; */
    font-family: 'PT Sans', sans-serif;
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Neucha', cursive; */
    /* font-family: 'Bad Script', cursive; */
}

/* grid */
.wrap{
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 300px 450px 450px auto;
    grid-template-rows: 70px 0px 120px auto auto 50px;   
    grid-gap: 1px; 
    grid-template-areas: 'out1 header header header out2'
                         'out1 side set set out2'
                         'out1 side nav nav out2'
                         'out1 side article article out2'
                         'blok blok blok blok blok'
                         'footer footer footer footer footer';
}

.header{
    grid-area: header;
 }
.nav{
    grid-area: nav;
}

/* style for settings */
.set{
    grid-area: set;
    position: fixed;
    right: 0px;
    top: 100px;
    width: 250px;
    background: #ffffff;
    border-left: 1px solid #99aabc;
    border-top: 1px solid #55728e;
    border-bottom: 5px solid #526e8c;
    border-radius: 0px 0px 0px 12px;
    box-shadow: 0px 0px 2px #697583;
    transition: 1s;
}

.set_close{
    grid-area: set;
    position: fixed;
    right: -2px;
    top: 100px;
    width: 0px;
    background: #ffffff;
    border-left: 1px solid #99aabc;
    border-top: 1px solid #55728e;
    border-bottom: 5px solid #526e8c;
    border-radius: 0px 0px 0px 12px;
    box-shadow: 0px 0px 0px #697583;
    transition: 1s;
}

.set_wrap{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s;
}
.set .set_wrap{
    opacity: 1;
    transition: opacity 2s;
}

.out1{
    grid-area: out1;
    min-width: 35px;
}
.out2{
    grid-area: out2;
    min-width: 35px;
}
.side{
    grid-area: side;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.article{
    grid-area: article;
 }
.blok{
    margin-top: 10px;
    grid-area: blok;
    background: #aac2da;
    box-shadow: var(--box-shadow-content);
}
.footer{
    grid-area: footer;
    background: #929292;
    margin-top: -1px;
}


.side_sub{
    padding: 10px;
    margin: 10px;
    border-radius:var(--border-radius-main);
    border:var(--border-color-content);
    box-shadow:var(--box-shadow-content) ;
    background: var(--bg-color-content);
}

.header, .nav, .article{
    padding: 10px;
    margin: 10px;
    border-radius:var(--border-radius-main);
    border:var(--border-color-content);
    box-shadow:var(--box-shadow-content) ;
    background: var(--bg-color-content);
}

