@import url("css-info.css");
@import url("setting.css");

/* my varriables */
:root{
    --bg-color:#F1F1F1;
    --bg-color-content:#ffffff;
    --border-color-content:1px solid #ffffff;
    --border-color-content-hover:1px solid #8bc3e9;
    --box-shadow-content:0px 0px 8px #6eb4ff;
    --box-shadow-content-hover:0px 0px 9px #6eb4ff;
    --border-radius-main:9px;
}

*{
    box-sizing: border-box;
}

body{
    padding: 10px 0px 0px 0px;
    margin: 0px;
    min-width: 300px;
    background: var(--bg-color);
}

/* grid */
.wrap{
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 300px 450px 450px auto;
    grid-template-rows: 70px 0px 120px auto 150px 50px;   
    grid-gap: 1px; 
    grid-template-areas: 'out1 header header header out2'
                         'out1 side set set out2'
                         'out1 side nav nav out2'
                         'out1 side article article out2'
                         'blok blok blok blok blok'
                         'footer footer footer footer footer';
}

.header{
    grid-area: header;
 }
.nav{
    grid-area: nav;
}

/* style for settings */
.set{
    grid-area: set;
    position: fixed;
    right: 0px;
    top: 100px;
    height: 400px;
    width: 220px;
    background: #ffffff;
    border-left: 1px solid #aac2da;
    border-top: 1px solid #aac2da;
    border-bottom: 5px solid #aac2da;
    border-radius: 0px 0px 0px 12px;
    box-shadow: 0px 0px 12px #b9d7f7;
    z-index: 55;
    transition: 1s;
}

.set_close{
    grid-area: set;
    position: fixed;
    right: -2px;
    top: 100px;
    height: 400px;
    width: 0px;
    background: #ffffff;
    border-left: 0px solid #aac2da;
    border-top: 1px solid #aac2da;
    border-bottom: 5px solid #aac2da;
    border-radius: 0px 0px 0px 12px;
    box-shadow: 0px 0px 12px #b9d7f7;
    z-index: 55;
    transition: 1s;
}

.setting{
    position: absolute;
    right: 219px;
    top: -1px;
    height: 40px;
    width: 40px;
    color: #000000;
    padding: 6px;
    background: #4d6884;
    border: 1px solid #aac2da;
    border-radius: 9px 0px 0px 9px;
    box-shadow: -1px 0px 12px #b9d7f7;
    text-shadow: 0px 0px 10px #ff2727;
    z-index: 5;
    transition: 1s;
}
.setting_close{
    position: absolute;
    right: -1px;
    top: -1px;
    height: 40px;
    width: 40px;
    color: #111111;
    padding: 6px;
    background: #4d6884;
    border: 1px solid #aac2da;
    border-radius: 9px 0px 0px 9px;
    box-shadow: -1px 0px 12px #b9d7f7;
    text-shadow: 0px 0px 10px #0bff00;
    z-index: 5;
    transition: 1s;
}

.out1{
    grid-area: out1;
    min-width: 35px;
}
.out2{
    grid-area: out2;
    min-width: 35px;

}
.side{
    grid-area: side;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.article{
    grid-area: article;
 }
.blok{
    margin-top: 10px;
    grid-area: blok;
    background: #aac2da;
    box-shadow: var(--box-shadow-content);
}
.footer{
    grid-area: footer;
    background: #929292;
    margin-top: -1px;
}


.side_sub{
    padding: 10px;
    margin: 10px;
    border-radius:var(--border-radius-main);
    border:var(--border-color-content);
    box-shadow:var(--box-shadow-content) ;
    background: var(--bg-color-content);
}

.header, .nav, .article{
    padding: 10px;
    margin: 10px;
    border-radius:var(--border-radius-main);
    border:var(--border-color-content);
    box-shadow:var(--box-shadow-content) ;
    background: var(--bg-color-content);
}

.header:hover, .nav:hover, .article:hover, .side_sub:hover{
    border:var(--border-color-content-hover);
    box-shadow:var(--box-shadow-content-hover) ;
}