.wrap{
    min-height: 100vh;
    display: grid;
    grid-template-columns:35px  300px auto auto 35px;
    grid-template-rows: 70px 0px 120px auto auto 50px;   
    grid-gap: 1px; 
    grid-template-areas: 'out1 header header header out2'
                         'out1 side set set out2'
                         'out1 side nav nav out2'
                         'out1 side article article out2'
                         'blok blok blok blok blok'
                         'footer footer footer footer footer';
}

.out2{
    grid-area: out2;
}

.out1{
    grid-area: out1;
}

